<div class="relative w-full">
  <label for="text" class="block text-sm font-medium text-gray-700">{{
    label
  }}</label>
  <input
    type="text"
    [value]="displayTime"
    (click)="togglePicker()"
    readonly
    class="w-full rounded-md border border-gray-300 p-2 cursor-pointer"
    placeholder="eg. 10:00 AM"
  />

  <!-- <div *ngIf="isStartTimeInvalid" class="text-red-500 text-sm">
    Start time cannot be after end time.
  </div> -->

  <div
    *ngIf="isPickerOpen"
    class="absolute z-50 bg-white shadow-lg rounded-lg p-4 mt-2 w-64 -top-10"
  >
    <div class="text-left mb-4 font-semibold text-gray-700">
      <span *ngIf="stage === 'hours'">Select Hour</span>
      <span *ngIf="stage === 'minutes'">Select Minutes</span>
      <span *ngIf="stage === 'period'">Select Period</span>
    </div>

    <div *ngIf="stage === 'hours'" class="grid grid-cols-4 gap-2">
      <button
        *ngFor="let hour of hourOptions"
        (click)="selectHour(hour)"
        class="p-2 rounded hover:bg-blue-100"
      >
        {{ hour }}
      </button>
    </div>

    <div *ngIf="stage === 'minutes'" class="grid grid-cols-4 gap-2">
      <button
        *ngFor="let minute of minuteOptions"
        (click)="selectMinute(minute)"
        class="p-2 rounded hover:bg-blue-100"
      >
        {{ minute }}
      </button>
    </div>

    <div *ngIf="stage === 'period'" class="flex justify-center space-x-4">
      <button
        (click)="selectPeriod('AM')"
        class="px-4 py-2 rounded hover:bg-blue-100"
        [ngClass]="{ 'bg-blue-500 text-white': selectedPeriod === 'AM' }"
      >
        AM
      </button>
      <button
        (click)="selectPeriod('PM')"
        class="px-4 py-2 rounded hover:bg-blue-100"
        [ngClass]="{ 'bg-blue-500 text-white': selectedPeriod === 'PM' }"
      >
        PM
      </button>
    </div>
  </div>
</div>
