<div class="relative my-2 gap-[16px]">
  <label [for]="label" class="text-secondary-200"
    >{{ label }}
    <span *ngIf="required" class="text-red-500">*</span>
  </label>

  <input
    class="w-full bg-transparent rounded-[8px] pl-8 outline-none mt-1 border-secondary-300 placeholder:text-secondary-100 text-secondary-100 h-[40px] gap-[16px] py-[10px] px-[14px] border [&:not([aria-invalid='false'])]:border-[#d50000] aria-[invalid=true]:border-2"
    [type]="inputType"
    [placeholder]="placeholder"
    [formControl]="inputControl"
    [attr.aria.invalid]="hasError"
  />

  <div class="relative">
    <div class="absolute place-items-center right-3 bottom-2">
      <ng-content select="[right-icon]"></ng-content>
    </div>

    <div class="absolute place-items-center left-2 bottom-3">
      <ng-content select="[left-icon]"></ng-content>
    </div>
  </div>

  <span
    *ngIf="hasError && errorType && errorMessage[errorType]"
    class="text-xs text-red-600 flex w-auto items-center gap-[8px] mt-1"
  >
    {{ errorMessage[errorType] }}
  </span>
</div>
