<div class="flex flex-col lg:border rounded-lg lg:px-4 py-4">
  <!-- @if (userMeetings ! === []) {
    <div class="flex justify-between">
      <div> -->
  <h1 class="font-semibold text-xl">Pending Meetings</h1>
  <p class="text-gray-500">
    See your pending meetings which were booked with you.
  </p>
  <!-- </div>
  
      <app-custom-button
        [iconName]="'tune'"
        [text]="'Filter'"
        [buttonType]="'button'"
      />
    </div>
    } -->

  <div class="grid grid-cols-1 gap-4 mt-4 max-h-96 overflow-y-auto">
    @if (pendingMeetings.length === 0 && !isLoading) {
    <div class="flex flex-col items-center justify-center p-8 text-center">
      <svg
        class="w-48 h-48 mb-6"
        viewBox="0 0 240 240"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="120" cy="120" r="80" fill="#09080D" />

        <path
          d="M90 90H150M90 110H150M90 130H120"
          stroke="white"
          stroke-width="6"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M80 160L160 80"
          stroke="white"
          stroke-width="8"
          stroke-linecap="round"
        />
      </svg>

      <h3 class="text-xl font-semibold mb-2 text-gray-800">
        No Meetings Scheduled
      </h3>

      <p class="text-gray-600 max-w-sm">
        You don't have any pending meetings scheduled at the moment.
      </p>
    </div>
    }@else { @for (meeting of pendingMeetings; track meeting.id) {
    <div class="meeting border-b-2 pb-4">
      <div class="duration">
        <h2 class="text-gray-500">{{ meeting.date | date : "fullDate" }}</h2>
        <p class="text-gray-500">
          {{ meeting.startTime }} -
          {{ meeting.endTime }}
        </p>
        <p class="text-gray-500">You and {{ meeting.inviteeName }}</p>
      </div>

      <div class="details">
        <h1>
          {{ meeting.summary }}
        </h1>
      </div>

      <div class="button flex space-x-4">
        <app-custom-button
          [iconName]="'event_repeat'"
          [text]="'Reschedule'"
          [buttonType]="'button'"
          (buttonClick)="toggleScheduleModal(meeting)"
        />
        @if (meeting.status == MeetingStatus.Pending) {
        <app-custom-button
          [iconName]="'task_alt'"
          [text]="'Accept'"
          [buttonType]="'button'"
          [buttonColor]="'primary'"
          (buttonClick)="toggleAcceptModal(meeting)"
        />

        <app-custom-button
          [iconName]="'block'"
          [text]="'Decline'"
          [buttonColor]="'danger'"
          [buttonType]="'button'"
          (buttonClick)="toggleDeclineModal(meeting)"
        />
        }
      </div>
    </div>

    } }
  </div>
</div>

@if (isRescheduleModalOpen) {
<app-reschedule-modal
  [meetingId]="meetingId"
  [inviteeEmail]="inviteeEmail"
  [inviteeName]="inviteeName"
  [showModal]="isRescheduleModalOpen"
  (onMeetingReschedule)="onMeetingRescheduled()"
/>
} @if (isDeclinedModalOpen) {
<app-decline-modal
  [meetingId]="meetingId"
  [showModal]="isDeclinedModalOpen"
  (meetingCancelled)="onDeclineMeetingSuccess()"
/>
}@if (isAcceptModalOpen) {
<app-accept-modal
  [meetingId]="meetingId"
  [showModal]="isAcceptModalOpen"
  (meetingAccepted)="onAcceptMeeting()"
/>
} @if (isLoading) {
<app-loader />
}
