<nav
  class="mx-auto py-2 px-4 flex justify-between items-center shadow-md border-b-2"
>
  <img
    [src]="'/assets/logo.png'"
    alt="logo"
    loading="eager"
    class="h-16 w-auto"
  />

  <div class="inline-flex gap-4">
    @if (isLoggedIn() == true) {

    <app-custom-button
      [iconName]="'open_in_new'"
      [buttonType]="'button'"
      [text]="'Share Profile'"
      (buttonClick)="triggerShareProfileModal()"
    />

    <div class="flex items-center gap-2">
      <img
        [src]="
          userDetails?.profileImageUrl || '/assets/icons/auth-user-icon.svg'
        "
        alt="avatar"
        class="lg:block hidden w-5 h-5 rounded-full"
      />

      <p class="name hidden lg:block">{{ userDetails?.name }}</p>
    </div>

    <div class="flex justify-center items-center sm:hidden">
      <span class="material-icons cursor-pointer" (click)="toggleSidebar()">
        menu
      </span>
    </div>
    }@else {

    <app-custom-button
      [iconName]="'login'"
      [buttonType]="'button'"
      [text]="'Login'"
      (buttonClick)="triggerLoginModal()"
    />

    <app-custom-button
      [iconName]="'person'"
      [buttonType]="'button'"
      [text]="'Get started'"
      (buttonClick)="triggerRegisterModal()"
    />
    }
  </div>
</nav>
