<div class="mx-auto py-8">
  <div
    *ngIf="user?.role === 'CLIENT'"
    class="grid grid-cols-1 lg:grid-cols-3 gap-4 lg:gap-6"
  >
    <!-- User Profile Section -->
    <div class="md:col-span-1 bg-white shadow-lg rounded-xl p-6">
      <div class="flex flex-col items-center">
        <div class="relative">
          <img
            [src]="user?.profileImageUrl || '/assets/icons/auth-user-icon.svg'"
            alt="Profile Picture"
            class="w-32 h-32 rounded-full object-cover mb-4"
          />
          <span
            class="absolute bottom-0 right-0 bg-green-500 w-4 h-4 rounded-full border-2 border-white"
          ></span>
        </div>
        <h2
          class="lg:text-xl text-base text-center font-semibold text-gray-800"
        >
          {{ user?.name }}
        </h2>
        <p class="text-gray-500 text-xs">
          {{ user?.email }}
        </p>
        <div class="mt-4 w-full">
          <div class="grid grid-cols-2 gap-4 text-center">
            <div>
              <p class="font-bold text-xl">
                {{ user?.profileVisitCount }}
              </p>
              <p class="text-sm text-primary-200">Profile Visits</p>
            </div>
            <div>
              <p class="font-bold text-xl">
                {{ totalMeetings }}
              </p>
              <p class="text-sm text-primary-200">Total Meetings</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Meetings and Metrics Section -->
    <div class="md:col-span-2 space-y-6">
      <!-- Quick Stats -->
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-4">
        <div class="bg-blue-50 p-4 rounded-xl shadow-sm">
          <div class="flex items-center justify-between">
            <div>
              <h3 class="text-sm text-blue-600 font-medium">
                Upcoming Meetings
              </h3>
              <p class="text-2xl font-bold text-blue-800">
                {{ upcomingMeetings.length || 0 }}
              </p>
            </div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-8 w-8 text-blue-600"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"
              />
            </svg>
          </div>
        </div>
        <div class="bg-green-50 p-4 rounded-xl shadow-sm">
          <div class="flex items-center justify-between">
            <div>
              <h3 class="text-sm text-green-600 font-medium">
                Pending Meetings
              </h3>
              <p class="text-2xl font-bold text-green-800">
                {{ pendingMeetings.length || 0 }}
              </p>
            </div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-8 w-8 text-green-600"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"
              />
            </svg>
          </div>
        </div>

        <div class="bg-gray-50 p-4 rounded-xl shadow-sm">
          <div class="flex items-center justify-between">
            <div>
              <h3 class="text-sm text-gray-600 font-medium">Past Meetings</h3>
              <p class="text-2xl font-bold text-gray-800">
                {{ pastMeetings.length || 0 }}
              </p>
            </div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-8 w-8 text-gray-600"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19.5 12l-7.5-6-7.5 6v9a2 2 0 002 2h11a2 2 0 002-2z"
              />
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 21v-6a2 2 0 012-2h2a2 2 0 012 2v6"
              />
            </svg>
          </div>
        </div>

        <div class="bg-red-50 p-4 rounded-xl shadow-sm">
          <div class="flex items-center justify-between">
            <div>
              <h3 class="text-sm text-red-600 font-medium">
                Declined Meetings
              </h3>
              <p class="text-2xl font-bold text-red-800">
                {{ declinedMeetings.length || 0 }}
              </p>
            </div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-8 w-8 text-red-600"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
              />
            </svg>
          </div>
        </div>
      </div>

      <!-- Upcoming Meetings -->
      <div class="bg-white shadow-lg rounded-xl p-6">
        <div class="flex justify-between items-center mb-4">
          <h2 class="text-xl font-bold text-gray-800">
            Upcoming Meetings Today
          </h2>
          <a
            routerLink="/upcoming-meetings"
            class="text-primary-100 hover:underline cursor-pointer"
            >View All</a
          >
        </div>
        @if (upcomingMeetings.length) {
        <div class="space-y-4">
          @for (meeting of upcomingMeetings.slice(0, 3); track meeting.id) {
          <div
            class="flex items-center justify-between p-4 bg-gray-50 rounded-lg"
          >
            <div>
              <h3 class="font-semibold w-[85%]">
                {{ meeting.summary }}
              </h3>
              <p class="text-sm text-gray-500">
                {{ meeting.date | date : "fullDate" }}

                {{ meeting.startTime }} - {{ meeting.endTime }}
              </p>
            </div>
            <div class="flex items-center space-x-2">
              <span class="text-sm text-gray-600">
                {{ meeting.inviteeName }}
              </span>
              <img
                [src]="'/assets/icons/auth-user-icon.svg'"
                class="w-5 h-5 rounded-full"
              />
            </div>
          </div>
          }
        </div>
        } @else {
        <div class="text-center text-gray-500 py-4 text-sm">
          No upcoming meetings today
        </div>
        }
      </div>
    </div>
  </div>

  <div *ngIf="user?.role === 'ADMIN'" class="p-6 bg-gray-50 min-h-screen">
    @if (user?.role === 'ADMIN') {
    <div class="max-w-6xl mx-auto space-y-6">
      <!-- Users Management Card -->
      <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <div
          class="flex items-center justify-between flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4 bg-white"
        >
          <div class="relative"></div>
        </div>
        <table
          class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
        >
          <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
              <th scope="col" class="p-4"></th>
              <th scope="col" class="px-6 py-3">Name</th>
              <th scope="col" class="px-6 py-3">Position</th>
              <th scope="col" class="px-6 py-3">Status</th>
              <th scope="col" class="px-6 py-3">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="bg-white border-b hover:bg-gray-50 dark:hover:bg-gray-600"
            >
              <td class="w-4 p-4"></td>
              <th
                scope="row"
                class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap"
              >
                <img
                  class="w-10 h-10 rounded-full"
                  src="https://img.freepik.com/free-vector/creative-nerd-logo-template_23-2149218770.jpg?t=st=1733994104~exp=1733997704~hmac=b7cb4b3e1e8c17f947812926f9cea83ea6a205cde78fc9da3316021b7c283dd3&w=740"
                  alt="Jese image"
                />
                <div class="ps-3">
                  <div class="text-base font-semibold">Neil Sims</div>
                  <div class="font-normal text-gray-500">
                    neil.simsflowbite.com
                  </div>
                </div>
              </th>
              <td class="px-6 py-4">React Developer</td>
              <td class="px-6 py-4">
                <div class="flex items-center">
                  <div class="h-2.5 w-2.5 rounded-full bg-green-500 me-2"></div>
                  Online
                </div>
              </td>
              <td class="px-6 py-4">
                <a
                  href="#"
                  class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                  >Edit user</a
                >
              </td>
            </tr>

            <tr class="bg-white hover:bg-gray-50">
              <td class="w-4 p-4"></td>
              <th
                scope="row"
                class="flex items-center px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
              >
                <img
                  class="w-10 h-10 rounded-full"
                  src="/docs/images/people/profile-picture-4.jpg"
                  alt="Jese image"
                />
                <div class="ps-3">
                  <div class="text-base font-semibold">Leslie Livingston</div>
                  <div class="font-normal text-gray-500">leslie.com</div>
                </div>
              </th>
              <td class="px-6 py-4">SEO Specialist</td>
              <td class="px-6 py-4">
                <div class="flex items-center">
                  <div class="h-2.5 w-2.5 rounded-full bg-red-500 me-2"></div>
                  Offline
                </div>
              </td>
              <td class="px-6 py-4">
                <a
                  href="#"
                  class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                  >Edit user</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Feedbacks Management Card -->
      <div class="bg-white shadow-md rounded-lg">
        <div class="p-4 border-b">
          <h2 class="text-xl font-semibold">User Feedbacks</h2>
        </div>
        <table class="w-full">
          <thead>
            <tr class="bg-gray-100">
              <th class="p-3 text-left">User</th>
              <th class="p-3 text-left">Message</th>
              <th class="p-3 text-left">Rating</th>
            </tr>
          </thead>
          <tbody>
            @for (feedback of feedbacks; track feedback.id) {
            <tr class="border-b">
              <td class="p-3">{{ feedback.user }}</td>
              <td class="p-3">{{ feedback.message }}</td>
              <td class="p-3">{{ feedback.rating }}/5</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
    }
  </div>
</div>
@if (isLoading) {
<app-loader />
}
<!-- </div> -->
