<form
  [formGroup]="resetPasswordForm"
  (ngSubmit)="onSubmit()"
  class="fixed inset-0 flex items-center justify-center bg-gray-50"
>
  <div class="p-8 rounded-lg shadow-sm max-w-md w-full">
    <div class="text-center">
      <h2 class="text-2xl font-bold text-black mb-2">Reset Password</h2>
      <p class="text-gray-600 mb-4">Enter a new password for your account.</p>
      <input
        type="password"
        placeholder="New Password"
        formControlName="password"
        class="w-full mb-4 p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-black focus:ring-opacity-50"
      />

      <!-- Error message for password -->
      <div
        *ngIf="
          resetPasswordForm.get('password')?.invalid &&
          resetPasswordForm.get('password')?.touched
        "
        class="text-red-500 text-left text-sm mb-4"
      >
        <div *ngIf="resetPasswordForm.get('password')?.errors?.['required']">
          Password is required.
        </div>
        <div *ngIf="resetPasswordForm.get('password')?.errors?.['pattern']">
          Password must be at least 8 characters, contain uppercase, lowercase,
          a number, and a special character.
        </div>
      </div>

      <input
        type="password"
        formControlName="confirmPassword"
        placeholder="Confirm Password"
        class="w-full mb-6 p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-black focus:ring-opacity-50"
      />

      <!-- Error message for confirm password -->
      <div
        *ngIf="
          resetPasswordForm.get('confirmPassword')?.invalid &&
          resetPasswordForm.get('confirmPassword')?.touched
        "
        class="text-red-500 text-left text-sm mb-4"
      >
        <div *ngIf="resetPasswordForm.errors?.['passwordMismatch']">
          Passwords do not match.
        </div>
      </div>

      <button
        [disabled]="resetPasswordForm.invalid || isLoading"
        class="w-full bg-black text-white py-3 px-6 rounded-md disabled:cursor-not-allowed disabled:opacity-50 transition duration-200 ease-in-out focus:outline-none focus:ring-2 focus:ring-black focus:ring-opacity-50"
      >
        {{ isLoading ? "Loading..." : "Reset Password" }}
      </button>
    </div>
  </div>
</form>
