<div
  class="overflow-y-auto overflow-x-hidden bg-black opacity-80 fixed top-0 right-0 left-0 bottom-0 z-20 justify-center items-center w-full"
></div>

<div
  *ngIf="authMode"
  class="w-[40%] absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 flex flex-col h-[80vh] justify-center items-center rounded-lg z-50 bg-white"
>
  <div class="w-[65%]">
    <button
      (click)="triggerModalClose()"
      type="button"
      class="end-2.5 bg-black text-white rounded-lg w-8 h-8 ms-auto inline-flex justify-center items-center text-xs absolute top-2"
    >
      <svg
        class="w-3 h-3"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 14 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
        />
      </svg>
    </button>
    <!-- Modal header -->
    <div class="flex justify-between">
      <div class="flex flex-col">
        <h3 class="text-xl text-gray-900">
          {{ authMode === "login" ? "Welcome back!" : "Hey there!" }}
        </h3>
        <p>
          {{
            authMode === "login"
              ? "Please login to your account"
              : "Create an account"
          }}
        </p>
      </div>
    </div>

    <!-- Modal Body -->
    @if (authMode === 'login') {

    <ng-container>
      <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
        @for (input of LoginInputFields; track $index) {
        <app-custom-input
          [inputType]="input.type"
          [placeholder]="input.placeholder"
          [inputControl]="loginFormInputControlName(input.control)"
          [label]="input.label"
          [required]="true"
          [errorMessage]="input.errorMessage"
        >
          <div left-icon>
            <img [src]="input.icon" alt="Icon name" />
          </div>
        </app-custom-input>
        }

        <div class="mt-4">
          <app-custom-button
            [buttonType]="'submit'"
            [text]="isLoading ? 'Loading...' : 'Login'"
            [disabled]="loginForm.invalid || isLoading"
          />
        </div>
      </form>

      <p
        class="text-end cursor-pointer hover:underline pt-1"
        (click)="switchMode('forgotPassword')"
      >
        Lost Password?
      </p>
      <p class="text-center py-2">
        Don't have an account?
        <button class="text-primary-100 hover:underline" (click)="switchMode()">
          Create an account
        </button>
      </p>
    </ng-container>

    }@else if (authMode === 'register'){

    <ng-container>
      <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
        @for (input of RegisterInputFields; track $index) {
        <app-custom-input
          [inputType]="input.type"
          [placeholder]="input.placeholder"
          [inputControl]="registerFormInputControlName(input.control)"
          [label]="input.label"
          [required]="true"
          [errorMessage]="input.errorMessage"
        >
          <div left-icon>
            <img [src]="input.icon" alt="" />
          </div>
        </app-custom-input>
        }

        <div class="mt-4">
          <app-custom-button
            [buttonType]="'submit'"
            [text]="isLoading ? 'Loading...' : 'Sign up'"
            [disabled]="registerForm.invalid || isLoading"
          />
        </div>
      </form>

      <p class="text-center pt-2">
        Already have an account?
        <button class="text-primary-100 hover:underline" (click)="switchMode()">
          Login
        </button>
      </p>
    </ng-container>

    }@else if (authMode == 'forgotPassword') {
    <ng-container>
      <form
        [formGroup]="forgotPasswordForm"
        (ngSubmit)="sendResetPasswordLink()"
        class="fixed inset-0 flex flex-col items-center justify-center bg-gray-50 w-full"
      >
        <h2 class="text-2xl font-bold text-black mb-2">Forgot Password?</h2>
        <p class="text-gray-600 mb-4">
          Enter your email to receive a password reset link.
        </p>

        <div class="p-8 rounded-lg shadow-sm max-w-md w-full">
          <div class="text-center">
            <input
              type="email"
              placeholder="Enter your email"
              formControlName="email"
              class="w-full mb-4 p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-black focus:ring-opacity-50"
              required
            />
            <button
              [disabled]="forgotPasswordForm.invalid || isLoading"
              class="w-full bg-black text-white py-3 px-6 rounded-md transition duration-200 ease-in-out focus:outline-none focus:ring-2 focus:ring-black focus:ring-opacity-50 disabled:opacity-50 disabled:cursor-not-allowed"
            >
              Send Reset Link
            </button>

            <p
              class="text-start cursor-pointer hover:text-primary-100 mt-3"
              (click)="switchMode()"
            >
              Proceed to login
            </p>
          </div>
        </div>
      </form>
    </ng-container>
    } @else {
    <ng-container> No Content here </ng-container>
    }

    <div
      class="z-50 flex items-center my-2 before:flex-1 before:border-t before:border-black before:mt-0.5 after:flex-1 after:border-t after:border-black after:mt-0.5"
    >
      <p class="text-center font-semibold mx-4 mb-0">OR</p>
    </div>

    <div class="space-y-2">
      <button
        (click)="googleLogin()"
        class="flex w-full items-center justify-center bg-white border border-gray-300 rounded-lg p-2 hover:bg-gray-100"
      >
        <img
          src="/assets/google-logo.png"
          alt="Google Icon"
          class="w-8 h-8 mr-2"
        />
        <span class="text-gray-700">Continue with Google</span>
      </button>

      <!-- <button
        class="flex w-full items-center justify-center bg-white border border-gray-300 rounded-lg p-2 hover:bg-gray-100"
        (click)="githubLogin()"
      >
        <img
          src="/assets/github-logo.svg"
          alt="GitHub Icon"
          class="w-5 h-5 mr-2"
        />
        <span class="text-gray-700">Continue with GitHub</span>
      </button> -->

      <button
        class="flex w-full items-center justify-center bg-white border border-gray-300 rounded-lg p-2 hover:bg-gray-100"
        (click)="microsoftLogin()"
      >
        <img
          src="/assets/microsoft-logo.png"
          alt="Microsoft Icon"
          class="w-5 h-5 mr-2"
        />
        <span class="text-gray-700">Continue with Microsoft</span>
      </button>
    </div>
  </div>
</div>
